* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 100px;
    background-color: #fff;
}


/* header css */

.header-part .container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
}

.header-text-block {
    padding-top: 100PX;
}

.header-text-block .main-heading {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    line-height: 40px;
    border-left: 3px solid #FF4500;
    padding-left: 10px;
}

.main-heading span {
    display: block;
}

.main-heading .colored-text {
    color: #FFA07A;
    padding-top: 30px;
}

.header-text-block .about-me {
    padding-top: 50px;
    padding-bottom: 40px;
    line-height: 30px;
    width: 70%;
}

.explore-btn {
    color: #fff;
    font-size: 18px;
    background-color: #FFA07A;
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header-text-block .info-text {
    padding-top: 40px;
}

.header-image .main-img {
    width: 400px;
}


/* mission css */

.mission .container {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 200px;
    padding-left: 5%;
    padding-right: 5%;
}

.mission .container .mission-heading {
    text-align: center;
    font-size: 40px;
    color: #191970;
    font-weight: 700;
    padding-bottom: 50px;
}

.mission-heading .colored-text {
    color: #FFA07A;
}

.card-block {
    display: flex;
    justify-content: space-between;
}

.card-block .card {
    width: 26%;
    padding: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card .card-img {
    width: 30%;
    padding-bottom: 15px;
}

.card .card-heading {
    font-size: 22px;
    padding-bottom: 20px;
}

.card .card-info {
    width: 80%;
    text-align: justify;
}

.card1 {
    background-color: #FFEBCD;
}

.card2 {
    background-color: #FAFAD2;
}

.card3 {
    background-color: #FFFACD;
}


/* develop css */

.develop .container {
    background-color: #fff;
    padding-bottom: 80px;
}

.develop-content {
    display: flex;
}

.image-block {
    width: 40%;
    position: relative;
}

.image-block .circle {
    width: 30%;
    padding-top: 64px;
    padding-left: 254px;
}

.image-block .coding {
    width: 70%;
    position: absolute;
    top: 0;
    left: 80px;
}

.text-block {
    width: 50%;
    padding: 100px 0 0 20px;
}

.text-block .develop-heading {
    font-size: 40px;
    padding-bottom: 20px;
}

.develop-info {
    padding-bottom: 30px;
    line-height: 25px;
    width: 90%;
}


/* community css */

.community .container {
    background-color: #fff;
    padding-top: 200px;
    padding-bottom: 80px;
}

.community-content {
    display: flex;
}

.image-block {
    width: 40%;
    position: relative;
}

.image-block .circle-small {
    width: 26%;
    padding-top: 170px;
    padding-left: 446px;
}

.image-block .coding {
    width: 86%;
    position: absolute;
    top: -96px;
    left: 150px;
}

.text-block {
    width: 50%;
    padding: 100px 0 0 20px;
}

.text-block .community-heading {
    font-size: 40px;
    padding-bottom: 20px;
}

.community-info {
    padding-bottom: 30px;
    line-height: 25px;
    width: 84%;
}


/* bonus css */

.app .container {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 350px;
    z-index: 0;
}

.app-heading {
    font-size: 40px;
    text-align: center;
    padding-bottom: 130px;
}

.app-heading .colored-text {
    color: #FFA07A;
}

.app-content {
    z-index: 0;
    display: flex;
    justify-content: space-between;
}

.app-content .image-block {
    width: 50%;
    position: relative;
    padding-bottom: 200px;
}

.cube1 {
    position: absolute;
    top: -60px;
    left: 115px;
    width: 25%;
}

.cube2 {
    position: absolute;
    top: 300px;
    left: 430px;
    width: 18%;
}

.cube3 {
    position: absolute;
    top: 535px;
    left: 125px;
    width: 15%;
}

.app-img {
    width: 50%;
    position: absolute;
    left: 170px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.app-content .text-block {
    width: 50%;
}

.app-sub-heading {
    font-size: 40px;
    padding-bottom: 20px;
}

.app-sub-heading .block {
    display: block;
    line-height: 55px;
}

.app-sub-heading .colored-text {
    color: #FFA07A;
}

.app-info {
    padding-bottom: 40px;
    width: 85%;
    line-height: 25px;
}


/* app gallery css */

.app-gallery {
    background-color: #fff;
    padding: 0 100px 80px 100px;
}

.gallery-heading {
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
    line-height: 60px;
}

.gallery-heading .block {
    display: block;
}

.gallery-heading .colored-text {
    color: #FFA07A;
}

.gallery-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.row img {
    width: 20%;
}


/* footer css */

.footer .container {
    background-color: #191970;
    padding: 50px 0;
    text-align: center;
}

.footer-heading {
    color: #fff;
    font-size: 40px;
    font-family: 'Moon Dance', cursive;
    padding-bottom: 15px;
}

.footer-heading .colored-text {
    color: #FFA07A;
}

.footer-info {
    color: #fff;
}

.footer-info .colored-text {
    color: #FFA07A;
}